.catalogoAdmon__ButtonAgg{
margin-left: 1200px;
margin-top: 60px;
}

.linkNewProduct{
    color:beige;
    width:100px;
}

.catalogoAdmon__pedidos{
    margin-left: 10%;
}


.catalogoAdmon__products{
    margin-left: 10%;
}

.catalogoAdmin-title{
    margin-top: 5%;
    margin-left: 40%;
}

.catalogoAdmon__container{
    background-image:  url("https://res.cloudinary.com/ds9rxxr5l/image/upload/v1670553174/imagenes/HD-wallpaper-raw-wood-abstract-natural_ugvs0l.jpg");
}