.facturaadnom-container{
    background-image: url("https://res.cloudinary.com/ds9rxxr5l/image/upload/v1670553174/imagenes/HD-wallpaper-raw-wood-abstract-natural_ugvs0l.jpg");
}

.catalogoAdmin-title{
    color: whitesmoke;
}

.catalogoAdmon__factura{
margin-left: 3%;
}