.container-cataadmon{
  background-image: url("https://res.cloudinary.com/ds9rxxr5l/image/upload/v1670553174/imagenes/HD-wallpaper-raw-wood-abstract-natural_ugvs0l.jpg");
}

.detailAdmon-pedidos {
  margin: 20%;
  width: 1100px;
  height: 670px;
  background: #f3b03c;
  margin: auto;
  margin-top: 7.6%;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #1d1d1d;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.detail__title {
  text-align: center;
}

.detailpedido_img img {
  height: 200px;
  width: auto;
}

.detailpedido__field-panelcode {
  align-items: baseline;
  width: 10%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelnombreprodc {
  align-items: baseline;
  width: 50%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelfechapedido {
  align-items: baseline;
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelalmacen {
  align-items: baseline;
  width: 40%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelcolor {
  align-items: baseline;
  width: 27%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}


.detailpedido__field-panelvalor {
  align-items: baseline;
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelmedidas {
  align-items: baseline;
  width: 40%;

  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelespecificacion{
  align-items: baseline;
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelfoto{
  align-items: baseline;
  width: 100%;

  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelfechaentrega{
  align-items: baseline;
  width: 100%;

  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelasesor{
  align-items: baseline;
  width: 40%;

  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido__field-panelproveedor{
  align-items: baseline;
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 15px;
  font-weight: bold;
}

.detailpedido_admon-numfact{
  margin-top: 0%;
  margin-left:0%
}

.detailpedido_admon-titulo{
  margin-top: -8%;
  margin-left:15%
}

.detailpedido_admon-fechapedido{
  margin-top: -8%;
  margin-left:60%
}

.detailpedido_admon-almacen{
  margin-top: -8%;
  margin-left:80%
}

.detailpedido_admon-color{
  margin-top: -8%;
  margin-left:42%
}

.detailpedido_admon-medidas{
  margin-top: 0%;
  margin-left:0%
}

.detailpedido_admon-especificacion{
  margin-top: -8%;
  margin-left: 42%
}

.detailpedido_admon-foto{
  margin-top: 0%;
  margin-left:0%
}

.detailpedido_admon-fechaentrega{
  margin-top: -8%;
  margin-left:60%
}

.detailpedido_admon-asesor{
  margin-top: 0%;
  margin-left:0%
}

.detailpedido_admon-proveedor{
  margin-top: -8%;
  margin-left:50%
}

.detailpedido_admon-valor{
  margin-top: 0%;
  margin-left:75%
}

.admoncatalogo__submit{
  width: 100%;
  height: 40px;
  background: #024ff5;
  border: none;
  color: white;
  margin-bottom: 16px;
  }

  .admoncatalogo__eliminar{
    width: 100%;
    height: 40px;
    background: #ac0a0a;
    border: none;
    color: white;
    margin-bottom: 16px;
    }

    .admoncatalogo__regresar{
      width: 100%;
      height: 40px;
      background: #706f6f;
      border: none;
      color: white;
      margin-bottom: 16px;
      }